# OS
.DS_Store
Thumbs.db

# Python / Django
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
*.egg
venv/
.env
db.sqlite3
*.log

# Node / Frontend
node_modules/
frontend/dist/
frontend/.env
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
